form {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    color: #fff;
}

input {
    width: 60%;
    height: 40%;
    border-radius: 8px 0px 0px 8px;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 8px;
    background: #000;
    color: #fff;
}

form button {
    height: 60%;
    width: 5%;
    border: none;
    background: #323232;
}

form button i.icon {
    color: #fff;
    font-size: 20px;
}
