.container {
    background: #181818;
    width: 100vw;
    height: 100vh;
}

.search-bar {
    background: #212121;
    height: 60px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.search-bar span {
    color: white;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.search-bar .button {
    flex: 1;
    padding: 0.5em;
}

.video-display {
    display: flex;
    width: 1300px;
    margin: 0 auto;
}

.video-detail {
    flex: 1;
    margin: 25px;
}

.video-list {
    width: 30%;
    margin-top: 25px;
    margin-right: 50px;
    display: inline-block;
}
